$navigation-background-color: #7762A4;
$navigation-text-color: #ffffff;
$content-background-color: #554378;
@import "chartCustomizer";
@import "bower_components/chartist/dist/scss/chartist.scss";
@font-face {
  src: url('../fonts/LatoRegular.woff');
  font-family: Lato;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;

}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.user_panel{
  margin-bottom: 15px;
}
aside{
  flex-basis: 15%;
  height: 100%;
  background: $navigation-background-color;
  border-left: 2px solid lighten($navigation-background-color, 10%);
}
.avatar{
  width: 75%;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  margin: 25px auto;
  display: block;
  background: lighten($navigation-background-color, 25%);
  border:5px solid lighten($navigation-background-color,5%)
}
.login{
  font-size: 16pt;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  display: block;
}
.item{
  display: block;
  list-style-type: none;
  width: 100%;
  height: 50px;
  border-top: 1px solid lighten($navigation-background-color, 7%);
  border-bottom: 1px solid lighten($navigation-background-color, 5%);
  transition:  0.5s;
  &:first-child{
    border-top: none;
  }
  &:last-child{
    border-bottom: none;
  }
  &:hover{
    background: radial-gradient(lighten($navigation-background-color, 5%), rgba(0,0,0,0));
  }
  a{
    width: 100%;
    height: 100%;
    display: block;
    padding: 16px 25px;
    color: #ffffff;
    text-decoration: none;
  }
}
#content{
  flex-basis: 85%;
  height: 100%;
  background: $content-background-color;
  display: flex;
  flex-direction: column;
}
header{
  width: 100%;
  height: 75px;
  background: lighten($content-background-color, 10%);
  border-bottom: 1px solid #7A67A0;
  h2{
    display: block;
    margin: 0px;
    padding: 25px 25px;
    box-sizing: border-box;
    color: $navigation-text-color;
  }
}
.statistic{
  height: 250px;
  background: #685493;
  box-shadow: 0 5px 11px -5px #222222;
}
.articles{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  //padding: 10px;
  box-sizing: border-box;
}
.article{
  width: 100%;
  height: 50px;
  color: #ffffff;
  display: flex;
  border: 2px solid lighten($content-background-color,5%);
  background: lighten($content-background-color,7%);
  margin: 10px;
// TODO: Problem with .articles
}
.functions{
  a{
    color: $navigation-text-color;
  }
}
